@switch (service.viewModel().activeView) {
  @case ('cards-light') {
    <app-tv-cards-light-view
      [vm]="service.viewModel()"
      [switchingView]="service.switchingView()"
      (changeView)="service.cycleView()" />
  }
  @case ('view-3') {
    <app-tv-placeholder-view
      [vm]="service.viewModel()"
      [switchingView]="service.switchingView()"
      (changeView)="service.cycleView()" />
  }
  @default {
    <app-tv-default-view
      [vm]="service.viewModel()"
      [switchingView]="service.switchingView()"
      (changeView)="service.cycleView()" />
  }
}
